<section class="delivery section">
  <div class="container">
    <div class="delivery__wrapper d-flex">
      <div class="delivery__image">
        <img
          class="delivery__img"
          src="./images/home-page/delivery.png"
          alt="доставщик в зеркале"
        />
      </div>
      <div class="delivery__content">
        <h2 class="delivery__title title">
          Оставайтесь дома, а мы позаботимся о еде
        </h2>
        <p class="delivery__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой!
          Воспользуйтесь нашей доставкой прямо сейчас и получите скидку!
        </p>
        <ul class="delivery__list">
          <li class="delivery__list-item delivery__list-item--time">
            <span class="delivery__list-text"
              >Быстрая доставка за 15 минут</span
            >
          </li>
          <li class="delivery__list-item delivery__list-item--delivery">
            <span class="delivery__list-text">Вежливые курьеры</span>
          </li>
          <li class="delivery__list-item delivery__list-item--shop">
            <span class="delivery__list-text">Более 500 заведений</span>
          </li>
        </ul>
        <a class="delivery__button button-primary" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>