<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__inner hero__inner--content">
        <h1 class="hero__title title">
          Доставка <span class="hero__title-color">за 15 минут</span>
        </h1>
        <p class="hero__text">
          Самый быстрый сервис доставки еды в вашем городе. Не уложимся в
          срок - доставка за наш счёт
        </p>
         <div class="hero__cta"><!--(CTA — Call to Action)-->
          <a class="hero__button button-primary" href="#">Заказать</a>
          <a class="hero__link link" href="#">Подробнее</a>
        </div>
      </div>
      <div class="hero__inner hero__inner--img" style="background-image: url('../../../images/home-page/scooterguy.png'); width: 560px;
      height: 660px;">
      </div>
    </div>
  </div>
</section>