<section class="reviews section">
  <div class="container">
    <div class="reviews__wrapper">
      <h2 class="reviews__title title">Отзывы клиентов</h2>
      <div class="reviews__slider">
        <div class="reviews__slider-item">
          <img
            class="reviews__img"
            src="./images/home-page/user.png"
            alt="клиентка Дарья"
          />
          <blockquote class="reviews__slider-testimonial">
            <p class="testimonial__text">
              <em>SimpleFood</em> - одна из лучших служб доставки продуктов
              из ресторанов в городе. Очень удобный сайт и приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто
              проводит акции и дарит скидки на доставку – однозначно
              рекомендую!
            </p>
            <footer class="testimonial__footer">
              <strong class="testimonial__author">Дарья</strong>
              <span class="testimonial__role">Ценитель вкусной еды</span>
            </footer>
          </blockquote>
        </div>
        <div class="reviews__slider-item">
          <img
            class="reviews__img"
            src="./images/home-page/user.png"
            alt="клиентка Дарья"
          />
          <blockquote class="reviews__slider-testimonial">
            <p class="testimonial__text">
              <em>SimpleFood</em> - одна из лучших служб доставки продуктов
              из ресторанов в городе. Очень удобный сайт и приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто
              проводит акции и дарит скидки на доставку – однозначно
              рекомендую!
            </p>
            <footer class="testimonial__footer">
              <strong class="testimonial__author">Дарья</strong>
              <span class="testimonial__role">Ценитель вкусной еды</span>
            </footer>
          </blockquote>
        </div>
        <div class="reviews__slider-item">
          <img
            class="reviews__img"
            src="./images/home-page/user.png"
            alt="клиентка Дарья"
          />
          <blockquote class="reviews__slider-testimonial">
            <p class="testimonial__text">
              <em>SimpleFood</em> - одна из лучших служб доставки продуктов
              из ресторанов в городе. Очень удобный сайт и приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто
              проводит акции и дарит скидки на доставку – однозначно
              рекомендую!
            </p>
            <footer class="testimonial__footer">
              <strong class="testimonial__author">Дарья</strong>
              <span class="testimonial__role">Ценитель вкусной еды</span>
            </footer>
          </blockquote>
        </div>
        <div class="reviews__slider-item">
          <img
            class="reviews__img"
            src="./images/home-page/user.png"
            alt="клиентка Дарья"
          />
          <blockquote class="reviews__slider-testimonial">
            <p class="testimonial__text">
              <em>SimpleFood</em> - одна из лучших служб доставки продуктов
              из ресторанов в городе. Очень удобный сайт и приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто
              проводит акции и дарит скидки на доставку – однозначно
              рекомендую!
            </p>
            <footer class="testimonial__footer">
              <strong class="testimonial__author">Дарья</strong>
              <span class="testimonial__role">Ценитель вкусной еды</span>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>