@mixin button-primary {
	color: $white;
	background-color: $orange;
	transition: background-color 0.3s, box-shadow 0.3s;
	border-radius: 6px;

	&:focus {
		color: $orange;
		background-color: rgba(255, 122, 80, 0.1);
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
	}

	&:hover {
		color: $orange;
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 5px 12px 0px rgba(255, 104, 56, 0.2),
			0px 0px 0px 2px rgba(255, 104, 56, 0.7);
	}

	&:active {
		color: $orange;
		background-color: rgba(255, 122, 80, 0.1);
	}
}

@mixin product-card {
	position: relative;
	max-width: 210px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $white;
	transition: box-shadow 0.3s;
	border-radius: 5px;
	padding: 20px 15px;

	.product-card__image {
		max-width: 140px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	.product-card__title {
		font-size: 15px;
		line-height: normal;
		margin-bottom: 28px;
	}

	.product-card__price {
		@extend %rubik-medium-500;
		color: $darkBlue;
		font-size: 15px;
		line-height: 1.4;
		margin-bottom: 10px;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 10px;
		width: 140px;
		height: 140px;
	}

	&:hover {
		box-shadow: 0px 0px 0px 1px #ff6838;
	}
}

@mixin more {
	color: $darkBlue;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;
	border-radius: 5px;

	&:focus {
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		text-decoration-line: none;
	}

	&:hover {
		color: $orange;
		text-decoration-line: none;
	}

	&:active {
		text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
		text-decoration-line: none;
	}
}
