$white: #ffffff;
$orange: #ff6838;
$silver-1: #f9faff;
$silver-2: #ececec;
$gray: #c2c2c2;
$darkBlue: #363853;
$dark: #31352b;

%rubik-regular-400 {
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%rubik-regular-italic-400 {
	font-family: 'Rubik-Regular-Italic', sans-serif;
	font-weight: 400;
}

%rubik-medium-500 {
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}
