.hero__wrapper {
	display: flex;
	justify-content: space-between;
}

.hero__inner--text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	max-width: 450px;
	width: 100%;
}

.hero__title {
	font-size: 66px;
	line-height: 1.3;
	text-transform: uppercase;
}

.hero__title--color {
	color: $orange;
}

.hero__button {
	@include button-primary;
	padding: 12px 32px;
	margin-right: 34px;
}

.hero__link {
	@include more;
}

.popular-categories {
	text-align: center;
}

.popular-categories__title {
	margin-bottom: 60px;
}

.popular-categories__tabs {
	display: flex;
	gap: 20px;
	margin-bottom: 45px;
}

.mixitup-control-active {
	position: relative;
	color: $white;
	background: #ff6838;
	border-radius: 5px;
	padding: 23px 35px 23px 86px;
}

.popular-categories__tab-btn.mixitup-control-active
	.popular-categories__tab-svg
	path {
	fill: $white;
}

.popular-categories__tab-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	box-shadow: 0px 0px 0px 1px #ececec;
	border-radius: 5px;
	padding: 23px 35px;
}

.popular-categories__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	margin-bottom: 60px;
}

.product-card {
	@include product-card;
}

.product-card__button {
	@include button-primary;
	font-size: 14px;
	padding: 7px 16px;
}

.popular-categories__link {
	@include more;
}
