.product-card {
	width: 210px;
	height: 299px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $white;
	transition: box-shadow 0.3s;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #ececec;
	padding: 20px 15px;

	&__image {
		margin-bottom: 10px;
	}

	&__title {
		font-size: 15px;
		margin-bottom: 10px;
	}

	&__price {
		color: $darkBlue;
		font-size: 15px;
		line-height: 1.4;
		margin-top: auto;
		margin-bottom: 10px;
	}

	&__button {
		font-size: 14px;
		padding: 7px 16px;
	}

	&:hover {
		box-shadow: 0 0 0 1px $accent;
	}
}
