.footer {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include respond-to('tablet1') {
		}
	}

	&__form {
		@include respond-to('tablet1') {
			margin-right: 70px;
			margin-bottom: 35px;
		}
	}

	&__logo-img {
		margin-bottom: 30px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 70px;
		color: $dark;
		font-size: 18px;

		@include respond-to('tablet1') {
			margin-right: 70px;
			margin-bottom: 35px;
		}

		@include respond-to('mobile') {
			order: 2;
			display: block;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__list-item:not(:last-child) {
		margin-bottom: 20px;
	}

	&__copyright {
		text-align: center;
		border-top: 1px solid $gray;
	}

	&__copyright-text {
		padding: 30px 0;
	}
}
