<section class="hero">
	<div class="container">
		<div class="hero__container">
			<div class="hero__wrapper">
				<h2 class="hero__title title">
					Доставка <br />
					<span class="hero__title-color">за 15 минут</span>
				</h2>
				<p class="hero__text">
					Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок -
					доставка за наш счёт
				</p>
				<div class="hero__cta">
					<!--(CTA — Call to Action)-->
					<a class="hero__button button-primary" href="#">Заказать</a>
					<a class="hero__link link" href="#">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>
