<section class="popular-categories section">
	<div class="container">
		<h2 class="popular-categories__title title">Популярные категории</h2>
		<ul class="popular-categories__tabs">
			<li class="popular-categories__tab">
				<button
					class="popular-categories__tab-btn"
					data-filter="all"
					type="button"
				>
					<svg class="popular-categories__icon icon">
						<use xlink:href="./images/sprite.svg#icon-burger"></use>
					</svg>
					Бургеры
				</button>
			</li>
			<li class="popular-categories__tab">
				<button
					class="popular-categories__tab-btn"
					data-filter=".category-pizzas"
					type="button"
				>
					<svg class="popular-categories__icon icon">
						<use xlink:href="./images/sprite.svg#icon-pizza"></use>
					</svg>
					Пицца
				</button>
			</li>
			<li class="popular-categories__tab">
				<button
					class="popular-categories__tab-btn"
					data-filter=".category-sandvich"
					type="button"
				>
					<svg class="popular-categories__icon icon">
						<use xlink:href="./images/sprite.svg#icon-sandvich"></use>
					</svg>
					Сендвичи
				</button>
			</li>
			<li class="popular-categories__tab">
				<button
					class="popular-categories__tab-btn"
					data-filter=".category-asia"
					type="button"
				>
					<svg class="popular-categories__icon icon">
						<use xlink:href="./images/sprite.svg#icon-asia"></use>
					</svg>
					Азиатская кухня
				</button>
			</li>
			<li class="popular-categories__tab">
				<button
					class="popular-categories__tab-btn"
					data-filter=".category-sets"
					type="button"
				>
					<svg class="popular-categories__icon icon">
						<use xlink:href="./images/sprite.svg#icon-dish"></use>
					</svg>
					Cеты
				</button>
			</li>
		</ul>
		<ul class="popular-categories__list">
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_01.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_02.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Бифбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_03.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Королевский чизбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_04.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Черный гамбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_05.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Чикен бургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_01.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_02.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Бифбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_03.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Королевский чизбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_04.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Черный гамбургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
			<li class="popular-categories__product-card mix category-burger">
				<article class="product-card">
					<img
						class="product-card__image"
						src="./images/product-card__image/item_05.png"
						alt="гамбургер"
						width="140"
						height="140"
					/>
					<h3 class="product-card__title">Чикен бургер</h3>
					<span class="product-card__price">160 <span>грн</span>.</span>
					<button class="product-card__button button-primary" type="button">
						В корзину
					</button>
				</article>
			</li>
		</ul>
		<a class="popular-categories__link link" href="#">Показать еще</a>
	</div>
</section>
