<section class="restaurant section">
	<div class="container">
		<div class="restaurant__wrapper">
			<h2 class="restaurant__title title">Лучшие рестораны</h2>
			<ul class="restaurant__list">
				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img
								src="./images/info-card/blaze-pizza.jpg"
								alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">Blaze Pizza</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">11:00 - 22:00</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>

				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img
								src="./images/info-card/pizza-runcho.jpg"
								alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">Pizza Runcho</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">12:00 - 21:00</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>

				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img
								src="./images/info-card/pizza-hut.jpg"
								alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">Pizza Hut</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">11:00 - 22:00</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>

				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img
								src="./images/info-card/mcdonalds.jpg"
								alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">McDonald`s</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">06:00 - 23:00</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>

				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img src="./images/info-card/kfc.jpg" alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">KFC</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">06:00 - 23:30</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>

				<article class="restaurant__list-item">
					<li class="rest-card">
						<a href="#" class="rest-card__img"
							><img
								src="./images/info-card/star-burgers.jpg"
								alt="обзор ресторана"
						/></a>
						<div class="rest-card__wrapper">
							<h3 class="restaurant__list-subtitle">Star Burgers</h3>
							<div class="restaurant__list-inner">
								<span class="restaurant__list-opening">09:00 - 21:00</span>
								<a href="#" class="restaurant__list-btn button-primary">
									<svg class="restaurant__list-icon icon">
										<use xlink:href="./images/sprite.svg#icon-arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</li>
				</article>
			</ul>
		</div>
	</div>
</section>
