<section class="mobile-app section">
	<div class="container">
		<div class="mobile-app__wrapper">
			<div class="mobile-app__content">
				<h2 class="mobile-app__title title">Скачайте мобильное приложение</h2>
				<p class="mobile-app__text">
					Рестораны, которые вы любите - в ваших руках. Устанавливайте
					приложение и заказывайте еду в любом удобном месте.
				</p>
				<div class="mobile-app__download">
					<a
						href="#"
						class="mobile-app__download-link mobile-app__download-link--app-store"
						target="_blank"
					>
						<span class="sr-only"
							>Ссылка для скачивания мобильного приложения в App Store
						</span>
					</a>
					<a
						href="#"
						class="mobile-app__download-link mobile-app__download-link--google-play"
						target="_blank"
						><span class="sr-only"
							>Ссылка для скачивания мобильного приложения в Google Play</span
						></a
					>
				</div>
			</div>
			<div
				class="mobile-app__inner"
				style="background-image: url('./images/home-page/mobile-app.jpg')"
			>
				<span class="sr-only"
					>мобильное приложение SimpleFood на экране смартфона.</span
				>
			</div>
		</div>
	</div>
</section>
