<section class="promotion section">
	<div class="container">
		<h2 class="promotion__title title">Акции и скидки</h2>
		<ul class="promotion__list">
			<li class="promotion__item">
				<article class="info-card">
					<a href="#" class="info-card__img"
						><img
							src="./images/info-card/blaze-pizza.jpg"
							alt="обзор ресторана"
					/></a>
					<div class="info-card__wrapper">
						<h3 class="promotion__text">Скидка 50% на вторую пиццу</h3>
					</div>
				</article>
			</li>
			<li class="promotion__item">
				<article class="info-card">
					<a href="#" class="info-card__img"
						><img src="./images/info-card/kfc.jpg" alt="обзор ресторана"
					/></a>
					<div class="info-card__wrapper">
						<h3 class="promotion__text">
							Картошечка из KFC даром при заказе бургера
						</h3>
					</div>
				</article>
			</li>
			<li class="promotion__item">
				<article class="info-card">
					<a href="#" class="info-card__img"
						><img
							src="./images/info-card/star-burgers.jpg"
							alt="обзор ресторана"
					/></a>
					<div class="info-card__wrapper">
						<h3 class="promotion__text">Чёрные бургеры на чёрный день</h3>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>
